---
layout: default
title: "Rodeo Kit Docs by Tradam:3"
subdomain: dev
---

<div class="flex justify-center">
	<div class="flex min-w-0 flex-row justify-center mx-4 sm:mx-8">
		<!-- left sidebar -->
		<!--<div class="top-44 sticky self-start mr-8 mt-8 min-w-[225px]">-->
		{% include sidebar_begin.html %}
		{% include nav_dropdown_begin.html main="rodeo_kit" sub="rodeo_kit_cheatsheet" %}
		<!-- table of contents -->
		<ul class="pt-4">
			<li class="border-b-[1px] border-stone-200">
				<div id="" href=#colonthree><div id="" class="select-none font-mono inline text-lg"></div><div class="select-none inline text-lg decoration-1"><span class="font-symbola">⮟</span>Table of Contents</div></div>
				<ul class="pl-1 pr-1 text-md">
					<!--li><a href="./dummy" class="text-rodeo-skyblue-300 hover:underline ml-1 mr-1 pl-1">RCore</a></li-->
					{% for code in site.cheatsheet_code %}
					<a href="#{{ code.id }}" class="text-{{ code.color }}-400 hover:text-{{ code.color }}-500 hover:underline  rounded"><li class="pl-1 hover:bg-{{ code.color }}-500/10 rounded">{{ code.title }}</li></a>
					{% endfor %}
				</ul>
				</li>
		</ul>
		<!-- -->
		{% include nav_dropdown_end.html %}
		{% include promotion.html %}
		{% include sidebar_end.html %}
		<!-- -->
		<!-- cheatsheet content -->
		<div class="flex flex-col gap-16 min-w-0">
			{% for code in site.cheatsheet_code %}
			<div id="{{ code.id }}" class="pt-4">
				{% include article_title.html color=code.color id=code.id title=code.title %}
				{% include article_begin.html size="base" color=code.color %}
				{% include code_block_begin.html %}
				{{ code.content }}
				{% include code_block_end.html %}
				{% include article_end.html %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
