---
layout: default
title: "Documentation by Tradam :3"
subdomain: dev
---

{% capture includeGuts %}
<div class="flex justify-center">
<div class="flex min-w-0 flex-row justify-center mx-4 sm:mx-8">
<!-- left sidebar -->
{% include sidebar_begin.html %}
{% include nav_dropdown_begin.html main="rodeo_kit" sub="none" %}
<!-- table of contents -->
<!-- <ul class="pt-4">
<li class="border-b-[1px] border-stone-200">
<div id="" href=#colonthree>
<div id="" class="select-none font-mono inline text-lg">
</div>
<div class="select-none inline text-lg decoration-1"><span class="font-symbola">⮟</span>Table of Contents</div></div>
<ul class="pl-1 pr-1 text-md"> -->
<!--<a href="#{{ code.id }}" class="text-{{ code.color }}-400 hover:text-{{ code.color }}-500 hover:underline  rounded"><li class="pl-1 hover:bg-{{ code.color }}-500/10 rounded">{{ code.title }}</li></a>-->
<!-- </ul>
</li>
</ul> -->
<!-- -->
{% include nav_dropdown_end.html %}
{% include promotion.html %}
{% include sidebar_end.html %}
<!-- -->
<!-- cheatsheet content -->
<div class="flex flex-col gap-16 min-w-0">
<div id="rodeo_kit" class="pt-4">
{% include article_title.html color="white" id="rodeo_kit" title="Rodeo Kit" %}
{% include article_begin.html size="xl" color=code.color %}
{% capture myInclude %}

Rodeo Kit is a collection of game development libraries that act as a hobby game engine when combined together. It is still in the early months of developments so there are no complete examples or games yet other then the basic development stress test.

#### The main goals of this project are:
- To learn more and research about the low level components of graphics and game development.
- Having a Web Browser export in addition to a Desktop export(Windows and Linux)
- Fast development velocity and iteration times when developing games.
- Using C for performance critical sections and embedding mruby for iterating on game mechanics.
- Documented C and Ruby API, as well as automated building and deployment of accessable documentation.

{% endcapture %}
{{ myInclude | markdownify }}
{% include article_end.html %}
</div>
</div>
</div>
</div>
{% endcapture %}
{{ includeGuts | replace: '    ', ''}}
