<div class="min-w-[225px] font-meleo bg-stone-900 lg:bg-stone-900/90 p-5 mt-5 w-[225px] flex justify-center items-center flex-col rounded-md" style="box-shadow: inset 0px 3px 0 rgb(41 37 36), 0 4px 6px -1px rgb(0 0 0 / 0.9), 0 2px 4px -2px rgb(0 0 0 / 0.9);">
<a href="https://ko-fi.com/tradam"><img class="w-[185px] grow" alt="Twitch Status" src="https://img.shields.io/badge/-Support%20Me%20%3A3-grey?style=for-the-badge"></a>
<br/>
<a href="https://www.twitch.tv/tradam_"><img class="w-[185px] alt="Twitch Status" src="https://img.shields.io/twitch/status/tradam_?style=for-the-badge"></a>
<!--<div class="text-stone-600">Maybe some kind of social media or recently made game links here or smthn.</div>-->
</div>
