---
---

@import "code_highlight";
@import "base";

@font-face {
	font-family: "Meleo";
	src: url("/assets/meleo.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Meleo";
	src: url("/assets/italic_meleo.woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Meleo";
	src: url("/assets/italic_meleo.woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Meleo";
	src: url("/assets/meleo.woff2");
	font-weight: normal;
	font-style: normal;
}
